.input{
  height: 34px;
  padding: 0px 12px 0px 12px;
	border-radius: 4px;
	border: 1px solid #DCF1D8;
}

input::placeholder{
	color: #9E9E9E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

input:hover{
  background-color: #EEF8EC;
  cursor: pointer;
}

input:hover ~ .combobox{
  background-color: #EEF8EC;
}

input:focus{
  border: 1px solid #96D58A;
  outline: none;
}